@import 'frost-core';
@import 'frost-theme';

.wrapper {
  display: flex;
  flex-direction: row;
  text-align: center;
}

.wrapper > * {
  padding: 10px;
  flex-basis: 100%;
}

.main {
  text-align: left;
  background: deepskyblue;
}

.aside-1 {
  background: gold;
  flex-basis: auto;
}

.aside-2 {
  background: hotpink;
  flex-basis: auto;
}

body {
  padding: 2em;
}

.xxxl {
  font-size: $frost-font-xxxl;
}

.xxl {
  font-size: $frost-font-xxl;
}

.xl {
  font-size: $frost-font-xl;
}

.l {
  font-size: $frost-font-l;
}

.m {
  font-size: $frost-font-m;
}

.s {
  font-size: $frost-font-s;
}

.xs {
  font-size: $frost-font-xs;
}
