@import 'frost-core';

.xxxl {
  font-size: $frost-font-xxxl;
}

.xxl {
  font-size: $frost-font-xxl;
}

.xl {
  font-size: $frost-font-xl;
}

.l {
  font-size: $frost-font-l;
}

.m {
  font-size: $frost-font-m;
}

.s {
  font-size: $frost-font-s;
}

.xs {
  font-size: $frost-font-xs;
}